{
  "presets": ["react", ["env",
    {
      "targets": {
        "node": "current"
      }
    }]
  ],
  "env": {
    "webpack": {
      "presets": ["react", ["env",
        { "targets": {"browsers": "last two versions"}, "modules": false }],
      ]
    }
  }
}
