.u-center-text {
  text-align: center;
}

.u-margin-top {
  margin-top: 10rem;
}

.u-margin-bottom {
  margin-bottom: 10rem;
}

.u-center-text {
  text-align: center;
}

.u-text-right {
  text-align: right;
}